/**
 *  Heroic Bodhisattva
 *  The first iteration of heroicbodhisattva.net.
 *  content by Russell Walker
 *  code by Chris Burnell
 *
 *  Table of Contents:
 *  00: Populate me!
 */

/* ---- ##. Symbol font-face Load ---- */

@font-face {
    font-family: "Entypo";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/entypo.eot");
    src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"),
         url("../fonts/entypo.woff") format("woff"),
         url("../fonts/entypo.ttf") format("truetype"),
         url("../fonts/entypo.svg#entypo") format("svg");
}

/* ---- ##. General and Typography ---- */

::-webkit-selection { background: @@MAINCOLOR; color: @@LIGHTCOLOR; }
::-moz-selection {    background: @@MAINCOLOR; color: @@LIGHTCOLOR; }
::selection {         background: @@MAINCOLOR; color: @@LIGHTCOLOR; }

html, body {
    min-height: 100%;
}
body {
    background: @@LIGHTCOLOR;
    color: #4f4f4f;
    position: relative;
    font: 400 normal 16px/1.618em "Noticia Text", serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.wrap {
    width: auto;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.25em;
}

a {
    color: @@MAINCOLOR;
    text-decoration: none;
    -webkit-transition: background .25s ease-in-out, color .25s ease-in-out, text-shadow .25s ease-in-out;
    transition:         background .25s ease-in-out, color .25s ease-in-out, text-shadow .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select:    none;
    user-select:         none;
}

h1, h2, h3, h4, h5, h6 {
    min-height: 1.2em; /* override some browser defaults */
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.2em;
}
h1 {
    font-size: 2.625em;
}
h2 {
    font-size: 1.375em;
}
h3 {
    font-size: 1em; /* override browser default */
}

p {
    margin: 0;
}
    article > p:not(.article-introduction):not(:last-child) {
        margin-bottom: 1em;
    }

ol, ul {
    margin: 0;
    padding: 0;
    list-style: inside disc;
}
    ol {
        list-style-type: decimal;
    }

img, a > img {
    max-width: 100%;
    border: 0;
}

blockquote {
    font-style: italic;
    color: #6f6f6f;
}
    .blockquote:before,
    .blockquote:after {
        content: "\0022";
    }

hr {
    background: rgba(6,6,6,.05);
    width: 100%;
    height: .25em;
    border: 0;
    display: block;
}

/* ---- 04. Buttons ---- */

button, .button {

}

/* ---- 05. Header ---- */

header {

}
    .logo {

    }

/* ---- 06. Navigation ---- */

nav {

}

/* ---- 07. Articles ---- */

.content {

}

article {

}

.video-container {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.65%;
    position: relative;
    overflow: hidden;
}
    .video-container iframe,
    .video-container object,
    .video-container embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

/* ---- 08. Asides ---- */

aside {

}

/* ---- 11. Footer ---- */

footer {

}

/* ---- 12. Miscellaneous ---- */

.symbol { vertical-align: middle; font-family: "Entypo" !important; font-size: 2em; font-style: normal !important; }

.remove { display: none; }
.hide, .hidden { visibility: hidden; }

.rounded { border-radius: .1875em; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
    .rounded.large { border-radius: .375em; }

.clear { clear: both; overflow: hidden; zoom: 1; }
    .clear.left { clear: left; }
    .clear.right { clear: right; }
    .clear:before, .clear:after { display: table; content: ''; }
    .clear:after { clear: both; }

.ghost, .disabled { filter: alpha(opacity=50); opacity: .5; }
    .ghost.super { filter: alpha(opacity=20); opacity: .2; }
    .ghost.sub { filter: alpha(opacity=80); opacity: .8; }

.align { margin: 0 auto; }
    .align.text { text-align: center; }
    .align.right { text-align: right; }
    .align.vertical { position: absolute; top: 50%; left: 50%; vertical-align: middle; }

.float { float: inherit; }
    .float.left { float: left; }
    .float.right { float: right; }

.debug *[href='#'], .debug *[src=''], .debug *[alt=''], .debug *:not([title]), .debug *:not([src]), .debug *:not([href]), .debug *:not([alt]), .debug *[title=''], .debug *[style] { outline: 1px dotted #f0f; }
    *:hover .debug * { background: rgba(0,0,0,.3); outline: 1px solid rgba(0,0,0,.5); }

strong, .bold { font-weight: 600; }
.italic { font-style: italic; }
.small { font-size: small; }

.no-text { color: transparent !important; text-indent: -999em !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-select { user-select: none; -webkit-user-select: none; -moz-user-select: none; }

sup { top: -0.3em; }

/* ---- ##. Media Queries ---- */

