/**
 *  Heroic Bodhisattva
 *  The first iteration of heroicbodhisattva.net.
 *  content by Russell Walker
 *  code by Chris Burnell
 *
 *  Table of Contents:
 *  00: Populate me!
 */

/*
    light color:    #f0e6dd
    med color:      #998561
    dark color:     #2e2a22
    main purple:    #381952
*/

/* ---- ##. Symbol font-face Load ---- */

@font-face {
    font-family: "Entypo";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/entypo.eot");
    src: url("../fonts/entypo.eot?#iefix") format("embedded-opentype"),
         url("../fonts/entypo.woff") format("woff"),
         url("../fonts/entypo.ttf") format("truetype"),
         url("../fonts/entypo.svg#entypo") format("svg");
}

/* ---- ##. General and Typography ---- */

::-webkit-selection { background: #381952; color: #f0e6dd; }
::-moz-selection {    background: #381952; color: #f0e6dd; }
::selection {         background: #381952; color: #f0e6dd; }

html, body {
    min-height: 100%;
}
body {
    background: #e6d0a8;
    color: #2e2a22;
    position: relative;
    font: 400 normal 16px/1.618em "Roboto Slab", serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.wrap {
    width: auto;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.25em;
}

a {
    color: #381952;
    text-decoration: none;
    -webkit-transition: background .25s ease-in-out, color .25s ease-in-out, text-shadow .25s ease-in-out;
    transition:         background .25s ease-in-out, color .25s ease-in-out, text-shadow .25s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select:    none;
    user-select:         none;
}

h1, h2, h3, h4, h5, h6 {
    min-height: 1.2em; /* override some browser defaults */
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.2em;
}
h1 {
    font-size: 2.625em;
}
h2 {
    font-size: 1.375em;
}
h3 {
    font-size: 1em; /* override browser default */
}

p {
    margin: 0;
}
    article > p:not(.article-introduction):not(:last-child) {
        margin-bottom: 1em;
    }

ol, ul {
    margin: 0;
    padding: 0;
    list-style: inside disc;
}
    ol {
        list-style-type: decimal;
    }

img, a > img {
    max-width: 100%;
    border: 0;
}

blockquote {
    font-style: italic;
    color: #998561;
}
    .blockquote:before,
    .blockquote:after {
        content: "\0022";
    }

hr {
    background: rgba(6,6,6,.05);
    width: 100%;
    height: .25em;
    border: 0;
    display: block;
}

/* ---- ##. Buttons ---- */

button, .button {

}

/* ---- ##. Header ---- */

header {
    margin: 1em 0;
    text-align: center;
}
    .logo {
        font-size: 4em;
        padding-top: 3em;
        line-height: 1em;
        display: inline-block;
        position: relative;
        text-shadow: 0 0 .1em #e6d0a8;
    }
        .logo:after {
            background: url("/img/logo.svg") center center no-repeat;
            background-size: 3em 3em;
            width: 3.2em;
            height: 3.2em;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -1.6em;
            z-index: 1;
            content: "";
            display: block;
            -webkit-transition: all .25s ease-in-out;
            transition:         all .25s ease-in-out;
            -webkit-animation: rotateClockwise 60s linear infinite;
            animation:         rotateClockwise 60s linear infinite;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;
        }
            .logo:hover:after {
                background-size: 3.2em 3.2em;
            }
            @keyframes rotateClockwise {
                0% {
                    -webkit-transform: rotate(0deg) transformZ(0);
                    transform:         rotate(0deg) transformZ(0);
                }
                100% {
                    -webkit-transform: rotate(360deg) transformZ(0);
                    transform:         rotate(360deg) transformZ(0);
                }
            }
            @-webkit-keyframes rotateClockwise {
                0% {
                    -webkit-transform: rotate(0deg) transformZ(0);
                    transform:         rotate(0deg) transformZ(0);
                }
                100% {
                    -webkit-transform: rotate(360deg) transformZ(0);
                    transform:         rotate(360deg) transformZ(0);
                }
            }

/* ---- ##. Navigation ---- */

nav {
    width: 100%;
    display: block;
    text-align: center;
}
    .site-nav {
        text-align: center;
    }
        .site-nav li {
            display: inline-block;
            margin: 0 .5em;
        }

/* ---- ##. Hero ---- */

.hero {
    background-color: #381952;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0,0,0,.4)));
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.4) 100%);
    background-image:    -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,.4) 100%);
    background-image:         linear-gradient(top, transparent 0%, rgba(0,0,0,.4) 100%);
    color: #f0e6dd;
    display: block;
    width: 100%;
    padding: 4em;
    margin-bottom: 2em;
    -webkit-box-shadow: 0 .5em 1em rgba(0,0,0,.1);
    -moz-box-shadow:    0 .5em 1em rgba(0,0,0,.1);
    box-shadow:         0 .5em 1em rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}
    .hero-title {
        padding: 0 .477em;
    }

/* ---- ##. Articles ---- */

.content {

}

article {

}

.video-container {
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.65%;
    position: relative;
    overflow: hidden;
}
    .video-container iframe,
    .video-container object,
    .video-container embed {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

/* ---- ##. Asides ---- */

aside {

}

/* ---- ##. Footer ---- */

footer {

}

/* ---- ##. Miscellaneous ---- */

.symbol { vertical-align: middle; font-family: "Entypo" !important; font-size: 2em; font-style: normal !important; }

.remove { display: none; }
.hide, .hidden { visibility: hidden; }

.rounded { border-radius: .1875em; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; }
    .rounded.large { border-radius: .375em; }

.clear { clear: both; overflow: hidden; zoom: 1; }
    .clear.left { clear: left; }
    .clear.right { clear: right; }
    .clear:before, .clear:after { display: table; content: ''; }
    .clear:after { clear: both; }

.ghost, .disabled { filter: alpha(opacity=50); opacity: .5; }
    .ghost.super { filter: alpha(opacity=20); opacity: .2; }
    .ghost.sub { filter: alpha(opacity=80); opacity: .8; }

.align { margin: 0 auto; }
    .align.text { text-align: center; }
    .align.right { text-align: right; }
    .align.vertical { position: absolute; top: 50%; left: 50%; vertical-align: middle; }

.float { float: inherit; }
    .float.left { float: left; }
    .float.right { float: right; }

.debug *[href='#'], .debug *[src=''], .debug *[alt=''], .debug *:not([title]), .debug *:not([src]), .debug *:not([href]), .debug *:not([alt]), .debug *[title=''], .debug *[style] { outline: 1px dotted #f0f; }
    *:hover .debug * { background: rgba(0,0,0,.3); outline: 1px solid rgba(0,0,0,.5); }

strong, .bold { font-weight: 600; }
.light { font-weight: 300; }
.italic { font-style: italic; }
.small { font-size: small; }

.no-text { color: transparent !important; text-indent: -999em !important; }
.no-margin { margin: 0 !important; }
.no-padding { padding: 0 !important; }
.no-select { user-select: none; -webkit-user-select: none; -moz-user-select: none; }

sup { top: -0.3em; }

/* ---- ##. Media Queries ---- */

