---
title: writings of Russell Walker
layout: home
page_class: page-home
---

            <h1>This is a title</h1>
            <h2>Smaller title</h2>
            <h3>Smallerer title</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac elit enim, et tempus nulla. Donec id risus arcu. Nulla sagittis magna sem, eget tristique nisi. Maecenas at eros urna. Pellentesque quis risus elit. Duis venenatis, odio sit amet rhoncus aliquam, mauris mi sodales arcu, ac tincidunt eros ipsum eu lectus. Sed id eros et ante hendrerit malesuada ut sed metus. Nulla risus lectus, faucibus eget laoreet et, elementum id purus. Sed blandit semper porttitor. Sed cursus tincidunt purus, eget tincidunt magna luctus nec.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac elit enim, et tempus nulla. Donec id risus arcu. Nulla sagittis magna sem, eget tristique nisi. Maecenas at eros urna. Pellentesque quis risus elit. Duis venenatis, odio sit amet rhoncus aliquam, mauris mi sodales arcu, ac tincidunt eros ipsum eu lectus. Sed id eros et ante hendrerit malesuada ut sed metus. Nulla risus lectus, faucibus eget laoreet et, elementum id purus. Sed blandit semper porttitor. Sed cursus tincidunt purus, eget tincidunt magna luctus nec.</p>

            <blockquote>Blockquote text dolor sit amet, consectetur adipiscing elit. Cras ac elit enim, et tempus nulla. Donec id risus arcu. Nulla sagittis magna sem, eget tristique nisi. Maecenas at eros urna. Pellentesque quis risus elit. Duis venenatis, odio sit amet rhoncus aliquam, mauris mi sodales arcu, ac tincidunt eros ipsum eu lectus. Sed id eros et ante hendrerit malesuada ut sed metus. Nulla risus lectus, faucibus eget laoreet et, elementum id purus. Sed blandit semper porttitor. Sed cursus tincidunt purus, eget tincidunt magna luctus nec.</blockquote>

            <ul>
                <li>Unordered list</li>
                <li>Unordered list</li>
                <li>Unordered list</li>
                <li>Unordered list</li>
                <li>Unordered list</li>
            </ul>

            <ol>
                <li>Ordered list</li>
                <li>Ordered list</li>
                <li>Ordered list</li>
                <li>Ordered list</li>
                <li>Ordered list</li>
            </ol>

            <hr>

            <!--ul class="articles-list">
                {% for post in paginator.posts %}
                <li>
                    <h1 class="article-link"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                    <h3>{{ post.date | date: "%b %d, %Y" }}</h3>
                    <p class="article-introduction">{{ post.introduction }}</p>
                    <a href="{{ post.url }}" class="button">Read more</a>
                </li>
                {% endfor %}
            </ul-->

            <!--ol class="nav  pagination">
                <li class="pagination__prev">
                    {% if paginator.previous_page %}
                    {% if paginator.previous_page == 1 %}
                        <a href="/">Previous</a>
                    {% else %}
                        <a href="/page{{paginator.previous_page}}">Previous</a>
                    {% endif %}
                    {% else %}
                        Previous
                    {% endif %}
                </li><!-*

             *-><li class="pagination__next">
                    {% if paginator.next_page %}
                        <a href="/page{{paginator.next_page}}">Next</a>
                    {% else %}
                        Next
                    {% endif %}
                </li>
            </ol-->
